In [6]:
import pandas as pd
from sklearn.datasets import load_wine
from sklearn.model_selection import train_test_split

wine = load_wine()
x = wine.data
y = wine.target
df = pd.DataFrame(x, columns=wine.feature_names)
df['target'] = y
x = df.drop('target', axis=1)
y = df['target']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [8]:
print(f'x shape: {x.shape}')
print(f'x_train shape: {x_train.shape}')
print(f'x_test shape: {x_test.shape}')
print(f'y_train shape: {y_train.shape}')
print(f'y_test shape: {y_test.shape}')
display(df['target'].head())
display(y_train.head())

x shape: (178, 13)
x_train shape: (124, 13)
x_test shape: (54, 13)
y_train shape: (124,)
y_test shape: (54,)

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

138    2
104    1
78     1
36     0
93     1
Name: target, dtype: int64